header{
	border-radius: 6px;
	width: 100%;
	height: 70px;
	background:linear-gradient(40deg, rgb(152, 19, 101), rgb(180,10,190), rgb(100,0,200));
}

a {
	text-decoration: none;
}

.interior{
	max-width: 100%;
	padding: 7 10px;
	margin-top: 10px;
}

.navegacion{
	float: left;
	display: flex;
	align-items: center;
	min-height: 70.5px;
	z-index: 1000;
}

.navegacion ul{
	list-style: none;
	padding: 0 10px;
}

.navegacion ul li{
	display: inline-block;
	position: relative;
	transition: .3s linear;
	z-index: 1000;
}

.navegacion ul li:hover{
	transform: scale(1.1);
}

.navegacion ul li a{
	color: #ffffff;
	text-align: center;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 16px;
	padding: 12px 20px;
	transition: .3s linear;
}

.navegacion ul li a:hover{
	color: #ffffff;
	transform: scale(1.1);
}

.navegacion ul li:hover .hijos{
	display: block;
}

.navegacion .submenu .hijos{
	display: none;
	background: linear-gradient(40deg, rgb(198, 21, 131), rgb(180,10,190), rgb(100,0,200));
	position: absolute;
	width: 100%;
    border-radius: 10px;
}

.navegacion .submenu .hijos li{
	display: block;
	overflow: hidden;
	border-bottom: none;
}

.navegacion .submenu .hijos li a{
	display: block;
}

body {
	background-repeat: no-repeat;
    background-size:1400px 800px;
}

body h1 {
    text-align: center;
    color:rgb(255, 255, 255);
}

body *{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
}

.contenedor {
	height: 100vh;
	width: 100vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tarjeta {
	height: 500px;
	width: 500px;
	background-color: #101010;
	border-radius: 10px;
	box-shadow: 16px 14px 20px rgb(90, 90, 90);
	position: relative;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tarjeta:hover {
	background: linear-gradient(60deg, rgb(87, 0, 70), rgb(29, 1, 93), rgb(87, 1, 70));
	transform: scale(1.1);
	transition-duration: .8s;
}

.tarjeta::before {
	content: "";
	position: absolute;
	height: 448px;
	width: 700px;
	background-image: conic-gradient(red 20deg, transparent 120deg);
	animation: rotar 2s linear infinite;
}

@keyframes rotar {
	from{
		transform: rotate(0deg);
	}
	to{
		transform: rotate(360deg);
	}
}

.tarjeta::after {
	content: "";
	position: absolute;
	height: 490px;
	width: 485px;
	background-color: #101010;
	border-radius: 10%;
	box-shadow: inset 16px 14px 20px #0000008c;
}

.tarjeta * {
	z-index: 2;
	background-color: transparent;
	text-shadow: 5px 5px 5px black;
}

.text {
	padding: 2px;
}

.text-finish {
	margin-top: 30px;
	background:linear-gradient(40deg, rgb(152, 19, 101), rgb(180,10,190), rgb(100,0,200));
	border-radius: 3px;
	width: 100%;
	height: 30px;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}